@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Tool Hire</h1>
    <p>Click on the <a asp-page="./List">List tab</a> to search for tools.</p>
</div>
